
/* transparenttextures.com*/

body {

    background-color: #ffffff;
background-image: url("https://www.transparenttextures.com/patterns/arches.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

h1 {
  
    padding: 30px;
    color:salmon ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    text-align: center;
}


#AboutMe {
margin: auto;
text-align: center;
padding: 50px;

}

#source { 
margin: auto;
text-align: center;
}